click==8.0.4
colorama==0.4.4
Flask-SQLAlchemy==2.5.1
Flask==2.0.3
greenlet==1.1.2
itsdangerous==2.1.1
Jinja2==3.0.3
MarkupSafe==2.1.0
pip==21.1.2
setuptools==57.0.0
SQLAlchemy==1.4.32
Werkzeug==2.0.3
wheel==0.36.2
